@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

#categorie-card {
    @include media-breakpoint-only(xl) {
      column-count: 4;
    }
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(md) {
      column-count: 4;
    }
    @include media-breakpoint-only(sm) {
      column-count: 2;
    }
    @include media-breakpoint-only(xs) {
      column-count: 2;
    }
  }

#categorie-card-align {
    display: flex;
    padding: 0;
}

div.card{
    height: 10rem;
}

a.stretched-link{
  color: black;
}

a.stretched-link:hover {
  text-decoration: none;
  color: black;
}