@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

div > div.result-content{
    @include media-breakpoint-only(xl) {
        width: 50%;
        margin-top: 5%;
        color:white;
    }    
    
    @include media-breakpoint-up(xs) {
        width: 100%;
        margin-top: 15%;
        color:white;
    }    
}

#root > div > div.content {
    @include media-breakpoint-between(md, xl) {
        margin-top:5%;
        margin: auto;
        width: 50%;
    }
    @include media-breakpoint-only(xs) {
        width: 100%;
    }
}

div > div > div.blue-background {
    @include media-breakpoint-between(md, xl) {
        background-color: #438DE4;
        height: 14rem;
        margin-top:5%;        
    }
    
    @include media-breakpoint-only(xs) {
        background-color: #438DE4;
        height: 15rem;
        font-size: 15px;
    }
}

#root > div > div > div > div > h3 {
    @include media-breakpoint-between(md, xl) {
        margin-top: 3%;
    }
    @include media-breakpoint-only(xs) {
        margin-top: 3%;
        font-size: 1.5rem;
    }
}

#root > div > div.content > div.watch {
    @include media-breakpoint-between(md, xl) {
        margin-top:-30px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 4rem;
        z-index: 3;
    }
    @include media-breakpoint-only(xs) {
        margin-top:-30px;
        margin-left: auto;
        margin-right: auto;
        padding: 6px;
        width: 70%;
        height: 4rem;
        z-index: 3;
    }
}

#root > div > div > div.card.watch > div.card-body {
    padding: 3%;
    // @include media-breakpoint-between(xs, md) {
    //     padding: 0;
    // }
}

#root > div > div.content > div.results {
    margin-top: -2.1rem;
    height: 100%;
}

//badge
div > div > div > span {
    width: 300px;
}

div > div > div > span > div.left {
    float: left;
    margin-top:5%;
}

div > div > div > span > div.right {
    float: right;
    margin-top:5%;
}

div > div > div > span > div > h4 {
    text-align: center;
}

div > div > div > span > div > p {
    text-align: center;
}

div > div > div > div.background-gray{
    margin: auto;
    margin-top: 7%;
    margin-bottom: 5%;
    background-color: rgb(52, 60, 88, 0.08);
    border-radius: 10px;
}

div > div > div > div > span.all-result {
    display: flex;
    margin:auto;
    width: 100%;
}

div > div > div > div.difficulty-result {
    margin: auto;
    margin-bottom: 5%;
    width:75%;
    @include media-breakpoint-down(lg) {
        width: 100%;
    }
}

div > div > div > div > h5 {
    @include media-breakpoint-down(md) {
        text-align: center;
    }
}

div > div > div > div > p {
    @include media-breakpoint-down(md) {
        text-align: center;
    }
}
    