.exit{
    color: black;
    padding: 0;
}

div > div.col.icon{
    padding: 0;
}

a:link{
    text-decoration: none!important;
}

.question-header{
    margin-top: 2%;
    margin-bottom: 2%;
}

.header {
    margin-top: 2%;
}

#root > div > div > div.card.shadow-sm.questions{
    height: 100%;
}

#root > div > div > div.card.shadow-sm.questions > div > span > div{
    height: 100%;
    padding: 1%;
    margin-top: 2%;

    @supports (-ms-ime-align:auto) {
        height:10%;
    }
}

div.card-footer {
    background-color: white;
}

//modal correction button
.row > a.btn-advance {
    margin: auto;
}

//answer button 
div.card.shadow-sm.questions > div > div.card-footer > div > div {
    margin:auto;
}

//wrong modal icon in correction
.incorrect-icon > svg {
    font-size: 6rem;
    color: red;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 10%;
}

//right modal icon in correction
.correct-icon > svg {
    font-size: 6rem;
    color: green;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 10%;
}
